@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

:root {
	--primary-color: #f0131e;
	--secondary-color: #d5cc15;

	--primary-text-color: #cd0101;
	--light-text-color: #ffffff;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	color: var(--primary-text-color);
}

.container {
	max-width: 1170px;
	padding: 5px 15px;
	margin: 0 auto;
}
